{% extends "base.html" %}

{% block content %}
<h1>Edit task {{task.task_name}}</h1>
<form method="post" action="{{base_path}}/edit_task/{{task.id}}">
    <div class="checkbox">
        <label>
            <input type="checkbox" name="status">
            Done
        </label>
    </div>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" value={{task.task_name}} type="text" name="task_name">
    </div>
    <div class="form-group">
        <label>Priority</label>
        <label class="radio-inline">
            <input type="radio" name="priority" value="1">1
        </label>
        <label class="radio-inline">
            <input type="radio" name="priority" value="2">2
        </label>
        <label class="radio-inline">
            <input type="radio" name="priority" value="3">3
        </label>
        <label class="radio-inline">
            <input type="radio" name="priority" value="4">4
        </label>
        <label class="radio-inline">
            <input type="radio" name="priority" value="5">5
        </label>
    </div>
    <div class="form-group">
        <label>Topics</label>
        {% for topic in topics %}
        <div class="checkbox">
            {% if topic.id in task_topics %}
            <label><input type="checkbox" checked name="topic_ids[]" value={{topic.id}}>{{topic.name}}</label>
            {% else %}
            <label><input type="checkbox" name="topic_ids[]" value={{topic.id}}>{{topic.name}}</label>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="form-group">
        <label>Notes</label>
        <textarea class="form-control">{{task.notes}}
        </textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
    </div>
</form>
{% endblock %}
