{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h1>Welcome to ToDoManager!</h1>
    <img src="https://static.pexels.com/photos/3059/desk-laptop-notebook-pen.jpg" class="img-responsive" alt="Desk" height="500" width="500"> 
</div>

<p>
    <a href="https://github.com/Samuel0c/Tsoha-Bootstrap" class="btn btn-success btn-lg">Check out the source code <span class="glyphicon glyphicon-chevron-right"></span></a>
</p>
<a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/3.0/88x31.png" /></a><br />Samuel Leppiniemi has licensed this work under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial 3.0 Unported License</a>.
{% endblock %}
