{% extends "base.html" %}

{% block content %}
<h1>Read chapter 8</h1>
<p>
    <a href="#" class="btn btn-default">Edit</a> <button class="btn btn-danger">Delete</button>
</p>
<ul>
    <li><strong>Priority:</strong> 3</li>
    <li><label>Topics:</label>
        <span class="label label-success">Studying</span>
        <span class="label label-success">Molecular biology</span></li>
    <li><strong>Status:</strong> <label class="label label-default">not done</label></li>
</ul>

<p>
    <strong>Notes:</strong>
    Read the 8th chapter from Molecular Biology pages 88 - 130. Pay particular attention to the diagrams.
</p>
{% endblock %}
