{% extends "base.html" %}

{% block content %}
<h1>{{task.task_name}}</h1>

<table class="table table-bordered table-striped">

    <tbody>
        <tr>
            <td>Priority</td>
            <td>{{task.priority}}</td>
        </tr>
        <tr>
            <td>Topics</td>
            <td><span class="label green">Studying</span>     <span class="label green">Molecular biology</span></td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                {% if task.status %}
                <label class="label label-default">done</label>
                {% else %}
                <label class="label label-default">not done</label>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Notes</td>
            <td>{{task.notes}}</td>
        </tr>
    </tbody>
</table>

<p>
    <a href="#" class="btn btn-default">Edit</a> <button class="btn btn-danger">Delete</button>
</p>

{% endblock %}
