{% extends "base.html" %}

{% block content %}
<h1>Read chapter 8</h1>

<table class="table table-bordered table-striped">
    
    <tbody>
        <tr>
            <td>Priority</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Topics</td>
            <td><span class="label green">Studying</span>     <span class="label green">Molecular biology</span></td>
        </tr>
        <tr>
            <td>Status</td>
            <td><label class="label label-default">not done</label></td>
        </tr>
        <tr>
            <td>Notes</td>
            <td>Read the 8th chapter from Molecular Biology pages 88 - 130. Pay particular attention to the diagrams.</td>
        </tr>
    </tbody>
</table>

<p>
    <a href="#" class="btn btn-default">Edit</a> <button class="btn btn-danger">Delete</button>
</p>

{% endblock %}
