{% extends "base.html" %}

{% block content %}
<h1>Todo list</h1>

<p>
    <a href="{{base_path}}/add_task" class="btn btn-success">Add task</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Priority</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td><a href="{{base_path}}/show_task/{{task.id}}">{{task.task_name}}</td>
            <td>{{task.priority}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
