{% extends "base.html" %}

{% block content %}
<h1>Topics</h1>

<div class="form-group">
    <input class="form-control" type="text">
    <button class="btn btn-success">Add</button>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for topic in topics %}
        <tr>
            <td>{{topic.name}}</td>
            <td><button href="{{base_path}}/edit_topic/{{topic.id}}" class="btn btn-default">Edit</button>   
                <button class="btn btn-danger">Delete</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
